name: Promote Dev To Staging

on:
  workflow_dispatch:
    inputs:
      promotion_token:
        description: "Jenkins-only promotion token"
        required: true
      approved_by:
        description: "Approved by (Jenkins user)"
        required: true
      chart:
        description: "Chart name to promote"
        required: true

permissions:
  contents: write

jobs:
  promote:
    runs-on: ubuntu-latest

    steps:

      - name: Block non-Jenkins triggers
        run: |
          if [ "${{ github.event.inputs.promotion_token }}" != "${{ secrets.JENKINS_PROMOTION_TOKEN }}" ]; then
            echo "BLOCKED"
            echo "This workflow can only be triggered by Jenkins"
            echo "Unauthorised trigger detected. Only Jenkins is permitted to start this workflow. Manual UI triggers or incorrect tokens are rejected."
            exit 1
          fi

          echo "Authorised Jenkins promotion"
          echo "Approved by: ${{ github.event.inputs.approved_by }}"
          echo "Chart: ${{ github.event.inputs.chart }}"

      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config --global user.name "NiravDaraji"
          git config --global user.email "nirav78692@gmail.com"

      - name: Fetch branches
        run: git fetch origin

      - name: Checkout staging branch
        run: |
          git checkout -B staging origin/staging

      - name: Validate values file exists in dev
        run: |
          FILE="environments/dev/values-${{ github.event.inputs.chart }}.yaml"

          if git ls-tree -r origin/dev --name-only | grep -q "$FILE"; then
            echo " YAML file found in dev: $FILE"
          else
            echo "ERROR: YAML file not found in dev: $FILE"
            exit 1
          fi

      - name: Promote selected values.yaml from dev to staging
        run: |
          CHART=${{ github.event.inputs.chart }}

          echo "Promoting chart: $CHART"

          git checkout origin/dev -- environments/dev/values-${CHART}.yaml

          # Copy into staging environment
          cp environments/dev/values-${CHART}.yaml \
             environments/staging/values-${CHART}.yaml

      - name: Commit if there are changes
        run: |
          git add environments/staging/values-${{ github.event.inputs.chart }}.yaml || true

          if git diff --cached --quiet; then
            echo "No changes detected. Nothing to promote."
          else
            git commit -m "Promote ${{ github.event.inputs.chart }} from dev to staging (approved by ${{ github.event.inputs.approved_by }})"
          fi

      - name: Push staging
        run: git push origin staging
